@font-face {
  font-family: 'Oswald-Light';
  src: url('Oswald-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswald-light';
  src: url('oswald-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

